# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# macOS
.DS_Store
*.swp
*~
